@{
    Layout = "~/Views/Shared/_LayoutNoMargin.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron cus_jumbotron_bg">
    <div class="cus_jumbotron_advice">
        <div class="content">
            <p class="cus_jumbotron_paragraph">Its time to take care of you.</p>
        </div>
    </div>
</div>

<div class="row cus_homepage_tile_holder hidden-xs">
    <div class="col-md-2 "></div>
    <div class="col-md-2 col-sm-3">
        <img class="cus_homepage_tile_img" src="~/Content/Images/homepage_tile.png" />
        <div class="cus_home_tile_content_holder">
            <p class="cus_home_tile_content_topic">Drug Mangement</p>
            <p class="cus_home_tile_content_desc">Keeping records of all drugs issued from the clinic and gained into the store.</p>
        </div>
    </div>
    <div class="col-md-2 col-sm-3">
        <img class="cus_homepage_tile_img" src="~/Content/Images/homepage_tile.png" />
        <div class="cus_home_tile_content_holder">
            <p class="cus_home_tile_content_topic">Patient Mangement</p>
            <p class="cus_home_tile_content_desc">Keeping records of all patients who consults from the medical center.</p>
        </div>
    </div>
    <div class="col-md-2 col-sm-3">
        <img class="cus_homepage_tile_img" src="~/Content/Images/homepage_tile.png" />
        <div class="cus_home_tile_content_holder">
            <p class="cus_home_tile_content_topic">Medical Record Mangement</p>
            <p class="cus_home_tile_content_desc">Tracks each an every record of patients.</p>
        </div>
    </div>
    <div class="col-md-2 col-sm-3">
        <img class="cus_homepage_tile_img" src="~/Content/Images/homepage_tile.png" />
        <div class="cus_home_tile_content_holder">
            <p class="cus_home_tile_content_topic">Medical Advices</p>
            <p class="cus_home_tile_content_desc">Medical advicing service from well experianced doctors</p>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="container body-content">

    <div class="row cus_homepage_subcatogory_holder">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <h2>
            <img class="cus_stu_rec" src="~/Content/Images/medical_records.png" />
            </h2>
        </div>
        <div class="col-md-4">
            <b><h3 class="cus_homepage_sub_catogory_heading">Medical records</h3></b>
            <h4 class="cus_homepage_sub_catogory_subheading">One click away from all you records.</h4>
            <br />
            <p>It's not like previous!. Now you can track your complete medical records yourself. you don,t need to visit University medical center & check in file cabinets.</p>
            <p><a class="btn btn-default" href="../Prescription/Index">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-2"></div>

    </div>


    <div class="row cus_homepage_subcatogory_holder">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <h2>
                <img class="cus_stu_rec" src="~/Content/Images/medical_records.png" />
            </h2>
        </div>
        <div class="col-md-4">
            <b><h3 class="cus_homepage_sub_catogory_heading">Student Management</h3></b>
            <h4 class="cus_homepage_sub_catogory_subheading">Manage all your personal details.</h4>
            <br />
            <p>It's not like previous!. Now you can track your complete medical records yourself. you don,t need to visit University medical center & check in file cabinets.</p>
            <p><a class="btn btn-default" href="../Student/Index">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-2"></div>

    </div>



    <div class="row cus_homepage_subcatogory_holder">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <h2>
                <img class="cus_stu_rec" src="~/Content/Images/medical_records.png" />
            </h2>
        </div>
        <div class="col-md-4">
            <b><h3 class="cus_homepage_sub_catogory_heading">Drugs Management</h3></b>
            <h4 class="cus_homepage_sub_catogory_subheading">Manage all drugs in the stores.</h4>
            <br />
            <p>It's not like previous!. Now you can track your complete medical records yourself. you don,t need to visit University medical center & check in file cabinets.</p>
            <p><a class="btn btn-default" href="../Drugs/Index">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-2"></div>

    </div>

</div>